<template>
	<div>
		<h4>{{ title }}</h4>
		<ul>
			<li v-for="(item, index) in items" class="list-item">
				{{ item }}
			</li>
		</ul>
	</div>
</template>

<script>
	let name = "jorge fernandez";
module.exports = {
	data() {
		return {
			items: ['boodschappen', 'schoonmaken', 'sporten'],
			title: "yoyo"
		}
	},
	mounted() {
		document.querySelector('h4').innerHTML = name;
	}
}
</script>

<style lang="scss">
	.list-item {
		font-size: 40px;
		color: $red;
	}
</style>
